<h2>quiz</h2>
<p>the quiz website was created to brainstorm on various problems <br>facing students by asking questions and also responding to other questions</p>
{{#link-to 'index'}}Click here to contact us.{{/link-to}}
